.App {
  text-align: center;
}

.App-header {
  background-color:rgb(107, 31, 107);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-link {
  color: #09d3ac;
}
.app-content{
  margin: 30px;
}

nav{
  display:flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: peru;
}

nav a {
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
  margin-right: 20px;
}

button{
  font-size:0.8em;
  font-weight:700;
  color:white;
  background-color: rgb(160, 21, 148);
  border-color:rgb(139, 0, 139);
}

button:hover{
  cursor: pointer;
  background-color: lightsalmon;
}